*{
    font-family: 'Libre Baskerville';
}

.fondo-inicio {
    background-color: #242424;
    border: none;
    padding: 0; 
    margin: 0;
}

.parrafo {
    width: 500px;
    font-size: 30px;
    color: #756F6F;
}

.oscuro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('https://cdn.discordapp.com/attachments/1226725804961042544/1258441732513861652/image.png?ex=6697e0b1&is=66968f31&hm=7b5c20797b9cfe67414666964df1df7122e9a8e39ee71ff8d5b0ab17229e747e&');
    height: 800px;
    background-size: cover;
    background-position: center;
    border: none;
    padding: 0; 
    margin: 0;
}

.titulo-2 {
    color: white;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 50px;
    color: white;
    font-family: 'Libre Baskerville' !important;
}

button {
    position: relative;
    width: 150px;
    height: 40px;
    background-color: #BA7345;
    color: white;
    margin-top: 25%;
    left: 40%;
}

/* nuevo codigo  */
.image-overlay-container {
    position: relative;
    overflow: hidden;
    height: 400px; /* Ajusta la altura según necesites */
}

.image-overlay-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-overlay-container:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-overlay-container:hover .image-overlay {
    opacity: 1;
}

.image-overlay .text {
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

