.fondo-inicio {
    background-color: #242424;
    color: #ffffff;
    font-family: 'Libre Baskerville';
    padding-top: 50px;
}

.opiniones {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 15px;
}

.opiniones h3 {
    text-align: center;
    margin-bottom: 20px;
}

.opiniones .form-group label {
    color: #ffffff;
}

.opiniones .form-control {
    background-color: #2a2a2a;
    border: none;
    color: #ffffff;
}
/* Añadir estos estilos para manejar el estado de foco */
.opiniones .form-control:focus {
    background-color: #2a2a2a; /* Mantener el mismo fondo en foco */
    color: #ffffff; /* Mantener el mismo color de texto en foco */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
    box-shadow: none; /* Eliminar cualquier sombra de caja predeterminada */
}
.opiniones .form-control:-webkit-autofill {
    background-color: #2a2a2a !important; /* Fondo del campo de entrada */
    color: #ffffff !important; /* Color del texto */
    box-shadow: 0 0 0px 1000px #2a2a2a inset; /* Fondo para el autocompletar */
    -webkit-text-fill-color: #ffffff !important; /* Color del texto para el autocompletar */
}

.opiniones .form-control:-webkit-autofill::first-line {
    color: #ffffff !important; /* Color del texto para el autocompletar */
}

.opiniones .form-control:-webkit-autofill:hover,
.opiniones .form-control:-webkit-autofill:focus {
    background-color: #2a2a2a !important; /* Fondo del campo de entrada */
    color: #ffffff !important; /* Color del texto */
    box-shadow: 0 0 0px 1000px #2a2a2a inset; /* Fondo para el autocompletar */
    -webkit-text-fill-color: #ffffff !important; /* Color del texto para el autocompletar */
}


.opiniones .btn-primary {
    background-color: #ff6600;
    border: none;
    width: 100%;
}

.comentario {
    background-color: #3a3a3a;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ff6600;
    border-radius: 10px;
}

.comentario h5 {
    color: #ffffff;
}

.comentario p {
    color: #ffffff;
}

.container {
    margin-top: 20px;
}
