.fondo-inicio {
    background-color: #242424;
    color: #ffffff;
    font-family: 'Libre Baskerville';
}


.opiniones .btn-primary {
    background-color: #ff6600;
    border: none;
    width: 100%;
}

.comentario {
    background-color: #3a3a3a;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ff6600;
    border-radius: 10px;
}

.comentario h5 {
    color: #ffffff;
}

.comentario p {
    color: #ffffff;
}

.container {
    margin-top: 20px;
}


/*        DISEÑO DE LA NUEVA FORMS (NO LE ENTENDI A TU CODIGO E HICE OTRO NOMAS)         */
.opiniones {
    background-color: #3a3a3a;  /* Ajuste el color de fondo si es necesario */
    padding: 20px;
    border-radius: 15px;
    color: #ffffff;  /* Color de texto para etiquetas y comentarios. */
  }
  
  .opiniones h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .opiniones label {
    display: block;  /* Mostrar etiquetas en líneas separadas */
    margin-bottom: 5px;  /* Añade algo de espacio después de las etiquetas. */
  }
  
  .opiniones input[type="email"],
  .opiniones textarea {
    background-color: #2a2a2a;  /* Fondo para campos de correo electrónico y comentarios */
    border: 1px solid #e0e0e0;  /* BORDE GRIS */
    color: #ffffff;  /* Color de texto para campos de entrada */
    padding: 10px;
    border-radius: 5px;  /* BORDES REDONDAS */
    width: 100%;  /* ANCHURA */
  }
  
  .opiniones textarea {
    resize: vertical;  /* Permitir cambiar el tamaño del campo de comentarios verticalmente */
  }
  
  .opiniones button[type="submit"] {
    background-color: #ff6600;  /* COLOR DE BOTON FONDO */
    border: none;
    color: #ffffff;  /* COLOR DEL TEXTO */
    border-radius: 5px;
    cursor: pointer;  /* SE PONE LA MANITO CUANDO PASAS POR ENCIMA */
  }
  

 